{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
        
    </div>
  </div>
</div>
{% endblock %} 

{% block content %}
<div class="container mt-3"> 
  <div id="productCarousel" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-inner"> 
      {% for product in products %} 
        <div class="carousel-item {% if forloop.first %}active{% endif %}"> 
          <a href="{% url 'product_detail' product.id %}"> 
            <img src="{{ product.image.url }}" class="img-fluid d-block mx-auto" alt="{{ product.name }}" style="max-height: 500px; object-fit: cover;"> 
          </a> 
          <div class="carousel-caption d-md-block logo-font"> 
            <h5>{{ product.name }}</h5>  
            <p class="fw-bold">€{{ product.price }}</p> 
          </div> 
        </div> 
      {% endfor %}
    </div> 
    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev"> 
      <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
      <span class="visually-hidden">Previous</span> 
    </button> 
    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next"> 
      <span class="carousel-control-next-icon" aria-hidden="true"></span> 
      <span class="visually-hidden">Next</span> 
    </button> 
  </div> 
</div>
{% endblock %}